:root
  --font-color #212529
  --font-color-transparent rgba(33,37,41,0)
  --background-color #EFEFEF
  --accent-color-1 #2B3A42
  --accent-color-2 #BDD4DE
  --accent-color-3 #FF530D
  --connector-width 4px
  
.full-post
  grid-area index
  font-size 20px

  h1
    margin 4rem 0rem 1rem 0rem
    
  .post-date
    display block
    font-size 1.5em
    margin-bottom 2rem
  
  .body
    a:not(.tag)
      color var(--accent-color-3)
      transition all 0.15s ease
      
      &:hover
        color var(--accent-color-3)
      
    code:not([class*="language-"])
      background-color darken(#EFEFEF, 10)
      padding 0em 0.25em
      max-width 100%
      overflow-y scroll
      
    .gatsby-highlight
      display block
      max-width 92vw

    img
      max-width 100%
      
  .tags
    display flex
    justify-content flex-start
    
    .tag
      flex-grow 0

  #disqus_thread
    margin-top 32px
    
@media all and (max-width: 768px) 
  .full-post 
    h1
      font-size 8vw
      margin 30px 0px
      
    .body
      .tag:not(.token)
        font-size 5vw